
     </div>
   <div class="jumbotron" style="text-align: center;">
  <h1 class="display-4">Bienvenid@!</h1>
   <h3>{{user.nombre}}</h3>
   <h4>{{user.correo}}</h4>
   <br>
   <p class="lead">
    <a class="btn btn-primary btn-lg" href="/juegos/allgames" role="button" style="background-color: #0D255E;">Recomendar juegos</a>
  </p>
</div>