<footer class="text-center text-white fixed-bottom" style="background-color: #0D255E;;">
  <!-- Grid container -->
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center" style="background-color: #0D255E;">

    <p class="mb-0 " style="font-weight: bold;"><i class="fas fa-ghost"></i> VIDEOGAMECITY </p>

  </div>
  <!-- Copyright -->
</footer>