<footer class="text-muted py-">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-0 " style="font-weight: bold;"><i class="fas fa-ghost"></i> VIDEOGAMECITY </p>
  </div>
</footer>