    {{>navigation}}
        {{>mensajes}}

<div class="container p-4">
      <div class="col-md-4 mx-auto">
        <img class="img-fluid mx-auto  img-thumbnail" src="https://www.trecebits.com/wp-content/uploads/2019/04/11854.jpg" />

     </div>
 

</div>
