<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
    {{error}}
   <form action="/signin" method="POST">
       <img class="img-fluid mx-auto img-thumbnail" src="https://fcbmexico.com.mx/wp-content/uploads/2020/08/gaming.jpg" />
     <h2 style="text-align: center;"><i class="fas fa-ghost"></i> VIDEOGAME CITY</h2>
     <h1 class="h3 mb-3 fw-normal" style="text-align: center;">Iniciar Sesión </h1>
   
    <label for="inputcorreo" class="visually-hidden">Correo</label>
    <input type="email" id="inputcorreo" name="correo" class="form-control" placeholder="Correo" required="">
    <br>
      <label for="inputcontrasena" class="visually-hidden">Contraseña</label>
    <input type="password" id="inputcontrasena" name="contrasena" class="form-control" placeholder="Contraseña" required="">
    <br>
    <button class="w-100 btn btn-lg btn-primary " style="background-color: #0D255E;"> Iniciar</button>
    
  </form>
    </div>
  </div>
</div> 
